<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- 镜像 NuGet 源 -->
    <add key="baget" value="https://nugetmirror.liany.com.cn/v3/index.json" />
    <!-- 私有 NuGet 源 -->
    <add key="forgejo.lianyuan" value="https://git.liany.com.cn/api/packages/lianyuan/nuget/index.json" />
    <!-- 公共 NuGet 源 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSources key="forgejo.lianyuan">
      <package pattern="LY.*" />
    </packageSources>
  </packageSourceMapping>
</configuration>
